
name: DEPLOY PRODUCTION

on:
  push:
    branches:
      - main

jobs:

  build-test-release-and-publish-npm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: git config --global user.email "igortrindademe@gmail.com"
      - run: git config --global user.name "Igor Trindade"
      - run: npm install
      - run: npm run build
      - run: git add -A
      - run: npm run release
      - run: git push --follow-tags origin ${{ github.ref_name }}
